@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    width: 100%;
    padding: 50px;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    color: rgb(25, 67, 184);
    margin-top: 300px;
    .time {
        font-family: 'Oxygen', sans-serif;
        font-size: 6rem;
        font-weight: 800;
        color: white;
    }
    .ampm {
        font-family: 'Atkinson Hyperlegible', sans-serif;
        font-size: 2rem;
        color: white;
        font-weight: 200;
    }
}